@function get-vw($target) {
  $vw-context: (1280 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}


html {
  @include breakpoint(medium down) {
    font-size: 14px;
  }
}

p {
  &:empty {
    display: none;
  }
}

.main-container {
  padding-top: rem-calc(100px);

  @include breakpoint(small down) {
    padding-top: 24px;
  }
}

.main-title {
  margin-bottom: rem-calc(60px);
}

.black-page {
  background-color: #111;
}

hr {
  max-width: 1016px;
}

.white-section {
  background-color: $white;
  border: 4px;
  padding: rem-calc(80px) rem-calc(30px);


  @include breakpoint(small down) {
    padding: 46px 0;
    margin-left: -9px;
    margin-right: -9px;
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.flex-align-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .main-title {
    margin-bottom: 0;
  }
}

.title-and-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  h2 {
    margin-bottom: 0;
  }

  &__link {
    display: flex;
    align-items: center;

    &::after {
      display: inline-block;
      content: '';
      width: 11px;
      height: 6px;
      margin-left: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../images/arrow.svg');
      transition: transform .3s ease-in-out;
    }

    &:hover,
    &:focus {
      opacity: .8;
      color: $secondary-color;

      &::after {
        transform: translateX(8px);
      }
    }
  }
}

