h1,
.h1 {
  font-size: rem-calc(44px);
  line-height: 1.2;

  @include breakpoint(small down) {
    font-size: 24px;
  }
}

h2,
.h2 {
  font-size: rem-calc(36px);

  @include breakpoint(small down) {
    font-size: 20px;
  }
}

h3,
.h3 {
  font-size: rem-calc(28px);
  font-family: $body-font-family;

  @include breakpoint(small down) {
    font-size: 19px;
  }
}

h4,
.h4 {
  font-size: rem-calc(24px);
  font-family: $body-font-family;

  @include breakpoint(medium up) {
    margin-bottom: rem-calc(30px);
  }

  @include breakpoint(small down) {
    font-size: 18px;
  }
}

h5,
.h5 {
  font-size: rem-calc(20px);
  font-family: $body-font-family;

  @include breakpoint(small down) {
    font-size: 17px;
  }
}

h6,
.h6 {
  font-size: rem-calc(16px);
  font-family: $body-font-family;
}

.orange-font {
  color: $primary-color;
}

.gray-font {
  color: $dark-gray;
}
