
h1,
.h1 {
  font-size: 44px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}

.orange-font {
  color: #F58468;
}

.gray-font {
  color: #898D93;
}
