.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: $white;
  background-color: $primary-color;
  border: 1px solid rgba(17, 17, 17, 0.12);
  box-shadow: 0px 1px 2px rgba(7, 8, 10, 0.08);
  border-radius: 2px;
  padding: 10px 15px;
  margin: 0;

  &--big {
    padding: 10px 24px;
  }
}

.filter-button {
  @include breakpoint(small down) {

    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #c4c7cc;
    border: 1px solid rgba(17, 17, 17, 0.12);
    border-radius: 2px;
    padding: 6px 8px;
    cursor: pointer;

    span {
      margin-right: 6px;
    }

    &:hover,
    &:focus {
      background-color: $primary-color;
    }
  }
}
