#alm-filters-bihusnews {
  @include breakpoint(small down) {
    display: none;
  }

  .alm-filter {
    &--category {
      margin-bottom: 30px;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include breakpoint(small down) {
          flex-direction: column;
          align-items: flex-start;
        }

        li {
          &:last-of-type {
            margin: 0 0 6px;
          }
        }
      }
    }

    &--link {
      color: $black;

      &::before {
        border: 1px solid #eee;
        background-color: transparent;
        border-radius: 2px;
      }

      &.active {
        &::before {
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}

.bihus-news-container {
  @include breakpoint(medium up) {
    min-height: 500px;
  }
}

//temp code
div.pace {
  .pace-progress {
    top: 73px;
    height: 10px;

    @include breakpoint(medium down) {
      top: 65px;
    }
  }
}
