.lawyers-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .preloader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in;

    &__icon {
      display: inline-block;
      width: 64px;
      height: 64px;

      &::after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid $primary-color;
        border-color: $primary-color transparent $primary-color transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }

      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in;
    }
  }
}

.lawyer-card {
  display: block;
  color: $black;
  margin-bottom: rem-calc(40px);
  transition: color .2s ease-in;

  img {
    transition: transform .2s ease-in;

    @include breakpoint(small down) {
      width: 100%;
      object-fit: cover;
    }
  }

  &__img {
    border-radius: 2px;
    border: 1px solid rgba(17, 17, 17, 0.12);
    overflow: hidden;
    margin-bottom: rem-calc(16px);
    max-width: fit-content;

  }

  &__title {
    margin-bottom: 5px;
  }

  &__sphere {
    font-family: $body-font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: (20/14);
    margin-bottom: 5px;
  }

  &__about {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: (16/12);
    letter-spacing: 0.005em;
    color: $light-gray;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.1);
    }
  }
}

.lawyers-filter {
  margin-bottom: 3rem;

  @include breakpoint(small down) {
    display: none;
  }

  &__select {
    border: 1px solid $light-gray;
    border-radius: 2px;
    font-size: 16px;
    color: $light-gray;
    background-image: url("../images/select.svg");

    &.active-selection {
      color: $black;
    }
  }

  &__checkbox {
    color: $black;
    font-size: 16px;
    margin-bottom: 22px;

    input[type="checkbox"] {
      display: none;

      & + label {
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        font-size: inherit;
        margin: 0;

        &:before {
          content: '';
          width: 18px;
          height: 18px;
          position: relative;
          top: 5px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: .5rem;
          background-image: url("../images/normal.svg");
          background-size: contain;
          background-position: center;
        }
      }

      &:checked + label:before {
        content: '';
        background-image: url("../images/active.svg");
      }
    }
  }

  .button {
    width: 100%;
  }
}

.ajax-load-more {
  margin: 1.5rem auto;
}
