.lawyer {
  &__photo {
    margin-bottom: rem-calc(34px);

    img {
      border-radius: 2px;
      border: 1px solid rgba(17, 17, 17, 0.12);
      object-fit: none;
    }
  }

  &__title {
    & + .button {
      margin-bottom: 1rem;
    }
  }
}

.lawyer-article {
  margin-bottom: rem-calc(160px);
}

.lawyer-info {
  &__title {
    font-family: $body-font-family;
    font-weight: bold;
    line-height: (24/16);
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem-calc(17px);
    margin-bottom: rem-calc(35px);

    li {
      width: 100%;
      max-width: 224px;
      font-size: 14px;
      line-height: (20/14);
      color: $dark-gray;
      margin-bottom: 10px;

      &:nth-child(odd) {
        margin-right: rem-calc(20px);
      }
    }
  }

  &__content {
    font-size: 14px;
    color: $dark-gray;
  }
}

