.single-news-article {
  margin-bottom: rem-calc(40px);
}

.post-featured-image {
  background-size: cover;
  background-position: 50% 50%;
  height: rem-calc(356px);
  margin-bottom: rem-calc(40px);
}

.article-text {
  position: relative;
}

.share-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(medium down) {
    display: none;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    max-width: 48px;
    max-height: 48px;
    cursor: pointer;

    path {
      transition: fill .3s ease;
    }

    &:first-child {
      border-top: 1px solid $light-gray;
    }

    &:hover,
    &:focus {

      path {
        transition: fill .3s ease;
        fill: $primary-color
      }
    }
  }

  .copy-btn {
    position: relative;

    &__tip {
      display: none;
      font-size: 14px;
      position: absolute;
      top: 110%;
      padding: 5px 10px;
      border-radius: 15px;
      background-color: $primary-color;
      color: $white;
    }
  }
}

.gallery-section {
  padding: rem-calc(30px) 0;
}

.news-slider {
  margin-bottom: rem-calc(18px);

  &__slide {
    border: 1px solid rgba(17, 17, 17, 0.12);
    border-radius: 2px;
    height: rem-calc(371px);
    background-size: cover;
    background-position: center;
  }
}

.news-slider-nav {
  .slick-prev {
    left: -10px;

    &::before {
      display: inline-block;
      content: '';
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      background-image: url("../images/slick-prev.svg");
    }

    &:hover,
    &:focus {
      opacity: .4;
    }
  }

  .slick-next {
    right: -10px;

    &::before {
      display: inline-block;
      content: '';
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      background-image: url("../images/slick-next.svg");
    }

    &:hover,
    &:focus {
      opacity: .4;
    }
  }

  &__slide {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .slick-current {
    .news-slider-nav__slide {
      opacity: .5;
    }
  }
}

.other-news-section {
  padding: rem-calc(40px) 0 rem-calc(160px);
}


/* The progress container (grey background) */
.progress-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background-color: transparent;
  z-index: 2;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background-color: $primary-color;
  width: 0;
}
