.hero-section {
  padding-top: 13px;
  padding-bottom: rem-calc(120px);

  &__content {
    color: $white;
    margin-bottom: rem-calc(115px);

    @include breakpoint(small down) {
      margin-bottom: 40px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(small down) {
      display: block;
    }

    @include breakpoint(medium up) {
      margin-top: -50px;
    }

    .button {
      margin-right: rem-calc(40px);

      @include breakpoint(small down) {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }
}

.counter {
  color: $white;

  @include breakpoint(small down) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.counter-item {
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(20px);

  @include breakpoint(small down) {
    width: 50%;
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 5px;
  }
}

.hero-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint(small down) {
    justify-content: space-around;
  }


  &__item {
    display: inline-block;
    margin-right: rem-calc(25px);

    @include breakpoint(small down) {
      margin-right: 0;
    }

    path {
      transition: fill .3s ease-in;
    }

    &:hover,
    &:focus {
      path {
        fill: $primary-color;
      }
    }
  }
}

.lawyers-list-section + hr {
  margin: 40px auto;

  @include breakpoint(medium up) {
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(80px);
    max-width: rem-calc(1016px);
  }
}

.news-item {
  display: inline-block;
  color: $black;
  transition: color .3s ease-in-out;
  margin-bottom: 20px;

  @include breakpoint(small down) {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5 !important;
  }

  &--alt {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: rem-calc(368px);
    padding: rem-calc(156px) rem-calc(40px) rem-calc(40px);
    color: $white;
    border: 1px solid rgba(17, 17, 17, 0.12);
    margin-bottom: rem-calc(20px);

    @include breakpoint(medium down) {
      padding: 40px 16px 40px;
      min-height: 165px;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%);
    }

    &:hover,
    &:focus {
      color: $primary-color;
    }

    .news-item__title {
      margin-bottom: 10px;
    }

    .news-item__cat {
      color: $white;
      background-color: rgba(#eeeff2, 0.24);
      margin-bottom: 10px;
    }

    .news-item__date {
      color: $white;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &__img {
    background-size: cover;
    background-position: 50% 50%;
    height: 165px;
    margin-bottom: 15px;
    background-color: $light-gray;
  }

  &__cat {
    display: inline-block;
    background-color: rgba(#eeeff2, 1);
    border-radius: 2px;
    text-align: center;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: (16/12);
    letter-spacing: 0.005em;
    color: $dark-gray;
    margin-bottom: 12px;
  }

  &__title {
    font-family: $body-font-family;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: rem-calc(15px);
  }

  &__date {
    font-weight: 500;
    font-size: 13px;
    line-height: (16/13);
    letter-spacing: 0.005em;
    color: rgba(#111, 0.5);
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}
