.faq {
  color: $light-gray;

  &__title {
    font-family: $body-font-family;
    color: $white;
    margin-bottom: rem-calc(25px);
  }

  hr {
    max-width: 312px;
    margin: rem-calc(64px) 0;
  }
}
