.support-section {
  background-color: $black;
  padding: rem-calc(160px) 0;

  @include breakpoint(small down) {
    padding: 40px 0;
  }

  &__text {
    max-width: 575px;
    color: $white;

    @include breakpoint(small down) {
      margin-bottom: 40px;
    }
  }
}

.partners-section {
  padding: rem-calc(120px) 0;
  background-color: $white;

  @include breakpoint(small down) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: rem-calc(80px);

    @include breakpoint(small down) {
      font-size: 20px;
      margin-bottom: rem-calc(40px);
    }
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(medium down) {
    justify-content: flex-start;
  }

  &__partner {
    display: inline-block;
    margin-right: 24px;

    @include breakpoint(medium down) {
      margin-bottom: 24px;

      &:last-of-type {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

/*Footer styles*/
.footer {
  padding: rem-calc(40px) 0;
  background-color: $black;

  &__title {
    font-size: 14px;
    line-height: (20/14);
    color: #c9c9c9;
  }

  .widget {
    h6 {
      color: $white;
    }
  }

  hr {
    opacity: 0.2;
    margin: rem-calc(24px) auto;
  }

  &__subscribe {
   max-height: 85px;
  }
}

.footer-info {
  .logo {
    display: inline-block;
    margin-bottom: rem-calc(20px);
  }

  &__desc {
    font-family: $body-font-family;
    font-weight: normal;
    color: #c9c9c9;

    @include breakpoint(small down) {
      margin-bottom: 1.5rem;
    }
  }
}

.footer-socials {
  display: flex;

  @include breakpoint(small down) {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  &__item:not(:last-child) {
    @include breakpoint(medium up) {
      margin-right: rem-calc(20px);
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    color: $white;
    font-size: 14px;
    transition: color .3s ease;

    svg:not(:last-child) {
      margin-right: 8px;
    }

    &:hover,
    &:focus {
      color: $primary-color;
    }

    @include breakpoint(small down) {
      width: 50%;
      margin: 11px auto;
    }
  }
}

.footer-grid {
  @include xy-grid;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


