/* Input Styling */
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  /* STYLES GO THERE */
  border: 1px solid $light-gray;
  font-size: 16px;
  color: $light-gray;
  height: 43px;
  background-color: #fff;
  border-radius: 2px;
}

textarea[rows] {
  /*Styles for TextArea*/
  border: 1px solid $light-gray;
  font-size: 16px;
  color: $light-gray;
  height: 162px;
  background-color: #fff;
  border-radius: 2px;
}

[type=number] {
  -moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

[type=checkbox],
[type=file],
[type=radio] {
  margin-bottom: 0;
}

div.wpcf7-response-output {
  border: none;
}

div.wpcf7-mail-sent-ok {
  color: $black;
  padding: 0;
  margin: 0;
}

form.invalid {
  .wpcf7-validates-as-required {
    border-color: red !important;
    border-width: 3px !important;
  }

  .wpcf7-not-valid-tip,
  .wpcf7-validation-errors {
    display: none !important;
  }
}

.inputs-container {
  display: flex;
}

/*support form*/

.support-form {
  input[name="price"] {
    background: #fff;
    border: 1px solid $light-gray;
    border-radius: 2px;
    max-width: 150px;
    height: 48px;
    margin-right: 15px;
    margin-bottom: 0;

    @include breakpoint(small down) {
      height: 40px;
    }
  }

  input[type="submit"] {
    font-weight: bold;
    font-size: 16px;
    line-height: (24/16);
    padding: 6px 15px;
    max-width: 145px;

    @include breakpoint(small down) {
      padding: 6px 10px;
      font-size: 12px;
    }
  }
}

/*subscribe form*/

.subscribe-form {
  input[name="subscribe"] {
    background: #fff;
    border: 1px solid $light-gray;
    border-radius: 2px;
    max-width: 268px;
    height: 48px;
    margin-right: 8px;
    margin-bottom: 0;

    @include breakpoint(small down) {
      height: 32px;
      padding: 5px;
      max-width: 170px;
      font-size: 12px;
    }
  }

  input[type="submit"] {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    max-width: 120px;
    color: #FFFFFF;

    @include breakpoint(small down) {
      padding: 7px 10px;
    }
  }
}

.help-form {
  position: relative;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 40px;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .button {
      padding-left: 30px;
      padding-right: 30px;

      @include breakpoint(small down) {
        width: 100%;
      }
    }
  }
}

.modal {
  .support-modal-form {
    &__text {
      margin-bottom: rem-calc(40px);
    }

    .flex-wrapper {
      @include breakpoint(small down) {
        justify-content: space-between;
      }
    }

    .support-form-label {
      @include breakpoint(small down) {
        width: 48%;
        margin-bottom: 1rem;
        margin-right: 8px;

        &--mod {
          margin-right: 0;
        }
      }

      &__radio {
        color: $black;
        border: 1px solid $light-gray;
        border-radius: 2px;
        height: 43px;
        line-height: 43px;
        padding: 0 15px;
        margin-right: 8px;
        margin-left: 0;
        font-weight: 500;

        @include breakpoint(small down) {
          width: 100%;
          margin: 0;
        }

        &.active {
          background-color: $primary-color;
        }
      }
    }

    .support-form-input {
      @include breakpoint(small down) {
        width: 100%;
        margin-bottom: 1rem;
      }

      &__sum-input {
        max-width: 145px;
        margin: 0 8px 0 0;

        @include breakpoint(small down) {
          max-width: none;
        }
      }
    }


    .button {
      padding: 10px 65px;

      @include breakpoint(medium down) {
        font-size: rem-calc(16px);
        padding: 10px get-vw(65px);
      }

      @include breakpoint(small down) {
        width: 100%;
      }
    }
  }
}
