.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #111;
  padding: 1rem 2.5rem;

  @include breakpoint(small down) {
    padding: 10px 20px;
  }

  &__nav {
    .top-bar-right {
      flex: 1 1 auto;
    }
  }

}

.logo {
  display: inline-flex;
  align-items: center;
  font-weight: normal;

  &__title {
    color: #fff;
    font-size: rem-calc(20px);
    margin-left: rem-calc(16px);
  }
}

.menu {
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #888;
    padding: 10px;
    transition: color .3s ease;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .current-menu-item {
    > a {
      color: $white;
    }
  }
}


.title-bar-left {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

//off-canvas

.mobile-off-canvas-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 1rem;

  .vertical.menu {
    color: $white;
    margin-bottom: 65px;

    .current-menu-item {
      a {
        color: $primary-color;
      }
    }

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  &__logo {
    margin-bottom: 65px;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #C9C9C9;
    margin-bottom: 20px;
  }

  &__help {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 23px;
    right: 23px;
    color: $white;
    cursor: pointer;

    svg, path {
      fill: $white;
      stroke: $white;
    }
  }
}
