.modal {
  position: fixed;
  overflow: auto;

  @include breakpoint(small down) {
    top: 0;
    bottom: 0;
  }
  @media screen and #{breakpoint(medium down)} and #{breakpoint(landscape)} {
    top: 0;
    bottom: 0;
  }

  top: rem-calc(130px);
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 840px;
  padding: rem-calc(88px) 88px;
  z-index: 20;

  @include breakpoint(medium down) {
    padding: rem-calc(40px) get-vw(88px);
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal-wrapper {
  display: none;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background-color: rgba(#000, 0.5);
}


