.testimonials-section {
  padding: rem-calc(160px) 0;

  @include breakpoint(small down) {
    padding: 40px 0;
  }

  &__title {
    color: $white;
    margin-bottom: rem-calc(80px);

    @include breakpoint(small down) {
      margin-bottom: rem-calc(40px);
    }
  }
}

.testimonials-slider {
  .slick-arrow {
    position: absolute;
    font-size: 0;
    top: 130%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity .2s ease-in;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  .slick-prev {
    left: calc((100vw - 1056px) / 2 + 20px);
    &::before {
      display: inline-block;
      content: '';
      width: inherit;
      height: inherit;
      background-image: url("../images/prev.svg");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .slick-next {
    left: calc((100vw - 1056px) / 2 + 70px);
    &::before {
      display: inline-block;
      content: '';
      width: inherit;
      height: inherit;
      background-image: url("../images/next.svg");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}

.testimonials-slide {
  background-color: $white;
  border-radius: 2px;
  padding: rem-calc(40px);

  @include breakpoint(small down) {
    padding: 1rem;
  }
}

.testimonial-top {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(25px);

  img {
    border-radius: 50%;
    margin-right: rem-calc(16px);
  }

  &__title {
    font-family: $body-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: (24/16);
    color: $black;
    margin-bottom: 0;
  }

  &__cat {
    font-family: $body-font-family;
    font-weight: 500;
    font-size: 12px;
    line-height: (16/12);
    letter-spacing: 0.005em;
    color: $dark-gray;
  }
}
